# Large datasets
Итоговый проект первого года обучения/data.csv
Итоговый проект первого года обучения/data_cleaned_stage1.csv

# ML artifacts
data/raw/
data/interim/
data/processed/
models/
*.parquet
*.joblib

# Jupyter and Python service files
.ipynb_checkpoints/
__pycache__/